<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="fragment" content="!" />
    <title>Заброска</title>
    <link rel="stylesheet" href="/resources/styles/app.css">
    <!--<link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=El+Messiri|Philosopher|Scada" rel="stylesheet">
</head>
<body>
    <script src="/libs/angularjs/angular.min.js"></script>
    <script src="/dist/js/source.min.js"></script>


    <div id="app-bg"></div>
    <div id="app-wrapper">

        <div id="app-header">
            <a href="">Походы</a>
            <a href="">Сплавы</a>
            <a href="">Заброски</a>
            <a href="">Экскурсии</a>
            <a href="">Рыбалка</a>
            <a href="">Аренда снаряжения</a>

            <span class="header-title">Дыхание Севера</span>
        </div>
        <div id="app-content">

            <div class="section no-padding">
                <div class="header main"></div>
            </div>

            <div class="section">
                <div class="caption">Места забросок</div>


                <div class="place-chooser">

                    <div class="arrow">
                        <span>&larr;</span>
                    </div>



                    <div class="place-item first">
                        <div class="banner varzuga"></div>
                        <div class="info">
                            <span class="title">
                                Поселок Варзуга
                            </span>
                        </div>
                    </div>

                    <div class="place-item active">
                        <div class="banner zelentsy"></div>
                        <div class="info">
                            <span class="title">
                                Дальние зеленцы
                            </span>
                        </div>
                    </div>

                    <div class="place-item last">
                        <div class="banner rybachy"></div>
                        <div class="info">
                            <span class="title">
                                Полуостров рыбачий
                            </span>
                        </div>
                    </div>

                    <div class="arrow">
                        <span>&rarr;</span>
                    </div>


                </div>
            </div>

        </div>
        <div id="app-footer"></div>

    </div>

</body>
</html>
<!-- END: main -->